# Python related
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
*.sublime-project
*.sublime-workspace
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swn
*~.nib
*.bak

# Dependency directories
bin/
build/
include/
lib/
lib64/
libs/

# Logs and databases
*.log
*.sqlite3
*.db

# Compiled Python files
*.pyc
*.pyo

# Others
.DS_Store